.progress{
    background-color: #171C29;
    border: 1px solid #efefef2f;
    grid-column:1 / 4;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1.5rem;
}

.progress h2{
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.3rem;
    margin-bottom: 1.5rem ;
}

.progress h2 button{
    height: 35px;
    width: max-content;
    border-radius: 100px;
    color: #00C689;
    padding: 0 1rem;
    font-weight: 550;
    display: flex;
    align-items: center;
    font-size: 15px;
    background-color: rgba(0, 227, 150,.10);
    border: 1.5px solid #03d690;
}

.progressContainter{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #efefef2f;
}

.progressBar{
    height: 12px;
    border-radius: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background: #242937;
    border: 1.5px solid #efefef2f;
}

.progressBar::after{
    position: absolute;
    content: "";
    top: -10%;
    left: 0;
    height: 100%;
    width: var(--progress-width, 0%);
    border-radius: 100px;
    background-color: #00C689;
    border: 1.5px solid #03d690;
    transition: width 10s ease;
}

/* totalExense < 5000 */
.green_progress::after{
    background-color:#03d690 !important;
}

/* totalExense > 5000 */
.red_progress::after{
    background-color:#e72c55 !important;
}

.progressContainter > div:last-child{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

/* .progress div:last-child, */
.progressContainter > div:last-child span{
    color: #B8C0CC;
    font-size: 15px;
    font-weight: 550;
    margin: .8rem 0;
}

.progress div span{
    color: #B8C0CC;
    font-size: 15px;
    font-weight: 550;
    margin-top: .5rem;
}
